@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active {
  outline: 0;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

.search .search-submit,
#comments .submit {
  padding: 10px 15px;
  border-radius: 2px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #eaeaea;
  margin: 0 0px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

fieldset legend {
  margin-bottom: 1.5em;
  padding: 0 0.5em;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Bootstrap Grid
--------------------------------------------------------------*/
/*!
 * Bootstrap v4.0.0-alpha.2 (https://getbootstrap.com)
 */
.ast-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.ast-container::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 544px) {
  .ast-container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .ast-container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .ast-container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .ast-container {
    max-width: 100%;
  }
}

.ast-container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.ast-container-fluid::after {
  content: "";
  display: table;
  clear: both;
}

.ast-row {
  margin-left: -20px;
  margin-right: -20px;
}

.ast-row::after {
  content: "";
  display: table;
  clear: both;
}

.ast-col-xs-1, .ast-col-xs-2, .ast-col-xs-3, .ast-col-xs-4, .ast-col-xs-5, .ast-col-xs-6, .ast-col-xs-7, .ast-col-xs-8, .ast-col-xs-9, .ast-col-xs-10, .ast-col-xs-11, .ast-col-xs-12, .ast-col-sm-1, .ast-col-sm-2, .ast-col-sm-3, .ast-col-sm-4, .ast-col-sm-5, .ast-col-sm-6, .ast-col-sm-7, .ast-col-sm-8, .ast-col-sm-9, .ast-col-sm-10, .ast-col-sm-11, .ast-col-sm-12, .ast-col-md-1, .ast-col-md-2, .ast-col-md-3, .ast-col-md-4, .ast-col-md-5, .ast-col-md-6, .ast-col-md-7, .ast-col-md-8, .ast-col-md-9, .ast-col-md-10, .ast-col-md-11, .ast-col-md-12, .ast-col-lg-1, .ast-col-lg-2, .ast-col-lg-3, .ast-col-lg-4, .ast-col-lg-5, .ast-col-lg-6, .ast-col-lg-7, .ast-col-lg-8, .ast-col-lg-9, .ast-col-lg-10, .ast-col-lg-11, .ast-col-lg-12, .ast-col-xl-1, .ast-col-xl-2, .ast-col-xl-3, .ast-col-xl-4, .ast-col-xl-5, .ast-col-xl-6, .ast-col-xl-7, .ast-col-xl-8, .ast-col-xl-9, .ast-col-xl-10, .ast-col-xl-11, .ast-col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.ast-col-xs-1, .ast-col-xs-2, .ast-col-xs-3, .ast-col-xs-4, .ast-col-xs-5, .ast-col-xs-6, .ast-col-xs-7, .ast-col-xs-8, .ast-col-xs-9, .ast-col-xs-10, .ast-col-xs-11, .ast-col-xs-12 {
  float: left;
}

.ast-col-xs-1 {
  width: 8.3333333333%;
}

.ast-col-xs-2 {
  width: 16.6666666667%;
}

.ast-col-xs-3 {
  width: 25%;
}

.ast-col-xs-4 {
  width: 33.3333333333%;
}

.ast-col-xs-5 {
  width: 41.6666666667%;
}

.ast-col-xs-6 {
  width: 50%;
}

.ast-col-xs-7 {
  width: 58.3333333333%;
}

.ast-col-xs-8 {
  width: 66.6666666667%;
}

.ast-col-xs-9 {
  width: 75%;
}

.ast-col-xs-10 {
  width: 83.3333333333%;
}

.ast-col-xs-11 {
  width: 91.6666666667%;
}

.ast-col-xs-12 {
  width: 100%;
}

.ast-col-xs-pull-0 {
  right: auto;
}

.ast-col-xs-pull-1 {
  right: 8.3333333333%;
}

.ast-col-xs-pull-2 {
  right: 16.6666666667%;
}

.ast-col-xs-pull-3 {
  right: 25%;
}

.ast-col-xs-pull-4 {
  right: 33.3333333333%;
}

.ast-col-xs-pull-5 {
  right: 41.6666666667%;
}

.ast-col-xs-pull-6 {
  right: 50%;
}

.ast-col-xs-pull-7 {
  right: 58.3333333333%;
}

.ast-col-xs-pull-8 {
  right: 66.6666666667%;
}

.ast-col-xs-pull-9 {
  right: 75%;
}

.ast-col-xs-pull-10 {
  right: 83.3333333333%;
}

.ast-col-xs-pull-11 {
  right: 91.6666666667%;
}

.ast-col-xs-pull-12 {
  right: 100%;
}

.ast-col-xs-push-0 {
  left: auto;
}

.ast-col-xs-push-1 {
  left: 8.3333333333%;
}

.ast-col-xs-push-2 {
  left: 16.6666666667%;
}

.ast-col-xs-push-3 {
  left: 25%;
}

.ast-col-xs-push-4 {
  left: 33.3333333333%;
}

.ast-col-xs-push-5 {
  left: 41.6666666667%;
}

.ast-col-xs-push-6 {
  left: 50%;
}

.ast-col-xs-push-7 {
  left: 58.3333333333%;
}

.ast-col-xs-push-8 {
  left: 66.6666666667%;
}

.ast-col-xs-push-9 {
  left: 75%;
}

.ast-col-xs-push-10 {
  left: 83.3333333333%;
}

.ast-col-xs-push-11 {
  left: 91.6666666667%;
}

.ast-col-xs-push-12 {
  left: 100%;
}

.ast-col-xs-offset-0 {
  margin-left: 0%;
}

.ast-col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.ast-col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.ast-col-xs-offset-3 {
  margin-left: 25%;
}

.ast-col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.ast-col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.ast-col-xs-offset-6 {
  margin-left: 50%;
}

.ast-col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.ast-col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.ast-col-xs-offset-9 {
  margin-left: 75%;
}

.ast-col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.ast-col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.ast-col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 544px) {
  .ast-col-sm-1, .ast-col-sm-2, .ast-col-sm-3, .ast-col-sm-4, .ast-col-sm-5, .ast-col-sm-6, .ast-col-sm-7, .ast-col-sm-8, .ast-col-sm-9, .ast-col-sm-10, .ast-col-sm-11, .ast-col-sm-12 {
    float: left;
  }
  .ast-col-sm-1 {
    width: 8.3333333333%;
  }
  .ast-col-sm-2 {
    width: 16.6666666667%;
  }
  .ast-col-sm-3 {
    width: 25%;
  }
  .ast-col-sm-4 {
    width: 33.3333333333%;
  }
  .ast-col-sm-5 {
    width: 41.6666666667%;
  }
  .ast-col-sm-6 {
    width: 50%;
  }
  .ast-col-sm-7 {
    width: 58.3333333333%;
  }
  .ast-col-sm-8 {
    width: 66.6666666667%;
  }
  .ast-col-sm-9 {
    width: 75%;
  }
  .ast-col-sm-10 {
    width: 83.3333333333%;
  }
  .ast-col-sm-11 {
    width: 91.6666666667%;
  }
  .ast-col-sm-12 {
    width: 100%;
  }
  .ast-col-sm-pull-0 {
    right: auto;
  }
  .ast-col-sm-pull-1 {
    right: 8.3333333333%;
  }
  .ast-col-sm-pull-2 {
    right: 16.6666666667%;
  }
  .ast-col-sm-pull-3 {
    right: 25%;
  }
  .ast-col-sm-pull-4 {
    right: 33.3333333333%;
  }
  .ast-col-sm-pull-5 {
    right: 41.6666666667%;
  }
  .ast-col-sm-pull-6 {
    right: 50%;
  }
  .ast-col-sm-pull-7 {
    right: 58.3333333333%;
  }
  .ast-col-sm-pull-8 {
    right: 66.6666666667%;
  }
  .ast-col-sm-pull-9 {
    right: 75%;
  }
  .ast-col-sm-pull-10 {
    right: 83.3333333333%;
  }
  .ast-col-sm-pull-11 {
    right: 91.6666666667%;
  }
  .ast-col-sm-pull-12 {
    right: 100%;
  }
  .ast-col-sm-push-0 {
    left: auto;
  }
  .ast-col-sm-push-1 {
    left: 8.3333333333%;
  }
  .ast-col-sm-push-2 {
    left: 16.6666666667%;
  }
  .ast-col-sm-push-3 {
    left: 25%;
  }
  .ast-col-sm-push-4 {
    left: 33.3333333333%;
  }
  .ast-col-sm-push-5 {
    left: 41.6666666667%;
  }
  .ast-col-sm-push-6 {
    left: 50%;
  }
  .ast-col-sm-push-7 {
    left: 58.3333333333%;
  }
  .ast-col-sm-push-8 {
    left: 66.6666666667%;
  }
  .ast-col-sm-push-9 {
    left: 75%;
  }
  .ast-col-sm-push-10 {
    left: 83.3333333333%;
  }
  .ast-col-sm-push-11 {
    left: 91.6666666667%;
  }
  .ast-col-sm-push-12 {
    left: 100%;
  }
  .ast-col-sm-offset-0 {
    margin-left: 0%;
  }
  .ast-col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }
  .ast-col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }
  .ast-col-sm-offset-3 {
    margin-left: 25%;
  }
  .ast-col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }
  .ast-col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }
  .ast-col-sm-offset-6 {
    margin-left: 50%;
  }
  .ast-col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }
  .ast-col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }
  .ast-col-sm-offset-9 {
    margin-left: 75%;
  }
  .ast-col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }
  .ast-col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }
  .ast-col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 768px) {
  .ast-col-md-1, .ast-col-md-2, .ast-col-md-3, .ast-col-md-4, .ast-col-md-5, .ast-col-md-6, .ast-col-md-7, .ast-col-md-8, .ast-col-md-9, .ast-col-md-10, .ast-col-md-11, .ast-col-md-12 {
    float: left;
  }
  .ast-col-md-1 {
    width: 8.3333333333%;
  }
  .ast-col-md-2 {
    width: 16.6666666667%;
  }
  .ast-col-md-3 {
    width: 25%;
  }
  .ast-col-md-4 {
    width: 33.3333333333%;
  }
  .ast-col-md-5 {
    width: 41.6666666667%;
  }
  .ast-col-md-6 {
    width: 50%;
  }
  .ast-col-md-7 {
    width: 58.3333333333%;
  }
  .ast-col-md-8 {
    width: 66.6666666667%;
  }
  .ast-col-md-9 {
    width: 75%;
  }
  .ast-col-md-10 {
    width: 83.3333333333%;
  }
  .ast-col-md-11 {
    width: 91.6666666667%;
  }
  .ast-col-md-12 {
    width: 100%;
  }
  .ast-col-md-pull-0 {
    right: auto;
  }
  .ast-col-md-pull-1 {
    right: 8.3333333333%;
  }
  .ast-col-md-pull-2 {
    right: 16.6666666667%;
  }
  .ast-col-md-pull-3 {
    right: 25%;
  }
  .ast-col-md-pull-4 {
    right: 33.3333333333%;
  }
  .ast-col-md-pull-5 {
    right: 41.6666666667%;
  }
  .ast-col-md-pull-6 {
    right: 50%;
  }
  .ast-col-md-pull-7 {
    right: 58.3333333333%;
  }
  .ast-col-md-pull-8 {
    right: 66.6666666667%;
  }
  .ast-col-md-pull-9 {
    right: 75%;
  }
  .ast-col-md-pull-10 {
    right: 83.3333333333%;
  }
  .ast-col-md-pull-11 {
    right: 91.6666666667%;
  }
  .ast-col-md-pull-12 {
    right: 100%;
  }
  .ast-col-md-push-0 {
    left: auto;
  }
  .ast-col-md-push-1 {
    left: 8.3333333333%;
  }
  .ast-col-md-push-2 {
    left: 16.6666666667%;
  }
  .ast-col-md-push-3 {
    left: 25%;
  }
  .ast-col-md-push-4 {
    left: 33.3333333333%;
  }
  .ast-col-md-push-5 {
    left: 41.6666666667%;
  }
  .ast-col-md-push-6 {
    left: 50%;
  }
  .ast-col-md-push-7 {
    left: 58.3333333333%;
  }
  .ast-col-md-push-8 {
    left: 66.6666666667%;
  }
  .ast-col-md-push-9 {
    left: 75%;
  }
  .ast-col-md-push-10 {
    left: 83.3333333333%;
  }
  .ast-col-md-push-11 {
    left: 91.6666666667%;
  }
  .ast-col-md-push-12 {
    left: 100%;
  }
  .ast-col-md-offset-0 {
    margin-left: 0%;
  }
  .ast-col-md-offset-1 {
    margin-left: 8.3333333333%;
  }
  .ast-col-md-offset-2 {
    margin-left: 16.6666666667%;
  }
  .ast-col-md-offset-3 {
    margin-left: 25%;
  }
  .ast-col-md-offset-4 {
    margin-left: 33.3333333333%;
  }
  .ast-col-md-offset-5 {
    margin-left: 41.6666666667%;
  }
  .ast-col-md-offset-6 {
    margin-left: 50%;
  }
  .ast-col-md-offset-7 {
    margin-left: 58.3333333333%;
  }
  .ast-col-md-offset-8 {
    margin-left: 66.6666666667%;
  }
  .ast-col-md-offset-9 {
    margin-left: 75%;
  }
  .ast-col-md-offset-10 {
    margin-left: 83.3333333333%;
  }
  .ast-col-md-offset-11 {
    margin-left: 91.6666666667%;
  }
  .ast-col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .ast-col-lg-1, .ast-col-lg-2, .ast-col-lg-3, .ast-col-lg-4, .ast-col-lg-5, .ast-col-lg-6, .ast-col-lg-7, .ast-col-lg-8, .ast-col-lg-9, .ast-col-lg-10, .ast-col-lg-11, .ast-col-lg-12 {
    float: left;
  }
  .ast-col-lg-1 {
    width: 8.3333333333%;
  }
  .ast-col-lg-2 {
    width: 16.6666666667%;
  }
  .ast-col-lg-3 {
    width: 25%;
  }
  .ast-col-lg-4 {
    width: 33.3333333333%;
  }
  .ast-col-lg-5 {
    width: 41.6666666667%;
  }
  .ast-col-lg-6 {
    width: 50%;
  }
  .ast-col-lg-7 {
    width: 58.3333333333%;
  }
  .ast-col-lg-8 {
    width: 66.6666666667%;
  }
  .ast-col-lg-9 {
    width: 75%;
  }
  .ast-col-lg-10 {
    width: 83.3333333333%;
  }
  .ast-col-lg-11 {
    width: 91.6666666667%;
  }
  .ast-col-lg-12 {
    width: 100%;
  }
  .ast-col-lg-pull-0 {
    right: auto;
  }
  .ast-col-lg-pull-1 {
    right: 8.3333333333%;
  }
  .ast-col-lg-pull-2 {
    right: 16.6666666667%;
  }
  .ast-col-lg-pull-3 {
    right: 25%;
  }
  .ast-col-lg-pull-4 {
    right: 33.3333333333%;
  }
  .ast-col-lg-pull-5 {
    right: 41.6666666667%;
  }
  .ast-col-lg-pull-6 {
    right: 50%;
  }
  .ast-col-lg-pull-7 {
    right: 58.3333333333%;
  }
  .ast-col-lg-pull-8 {
    right: 66.6666666667%;
  }
  .ast-col-lg-pull-9 {
    right: 75%;
  }
  .ast-col-lg-pull-10 {
    right: 83.3333333333%;
  }
  .ast-col-lg-pull-11 {
    right: 91.6666666667%;
  }
  .ast-col-lg-pull-12 {
    right: 100%;
  }
  .ast-col-lg-push-0 {
    left: auto;
  }
  .ast-col-lg-push-1 {
    left: 8.3333333333%;
  }
  .ast-col-lg-push-2 {
    left: 16.6666666667%;
  }
  .ast-col-lg-push-3 {
    left: 25%;
  }
  .ast-col-lg-push-4 {
    left: 33.3333333333%;
  }
  .ast-col-lg-push-5 {
    left: 41.6666666667%;
  }
  .ast-col-lg-push-6 {
    left: 50%;
  }
  .ast-col-lg-push-7 {
    left: 58.3333333333%;
  }
  .ast-col-lg-push-8 {
    left: 66.6666666667%;
  }
  .ast-col-lg-push-9 {
    left: 75%;
  }
  .ast-col-lg-push-10 {
    left: 83.3333333333%;
  }
  .ast-col-lg-push-11 {
    left: 91.6666666667%;
  }
  .ast-col-lg-push-12 {
    left: 100%;
  }
  .ast-col-lg-offset-0 {
    margin-left: 0%;
  }
  .ast-col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }
  .ast-col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }
  .ast-col-lg-offset-3 {
    margin-left: 25%;
  }
  .ast-col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }
  .ast-col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }
  .ast-col-lg-offset-6 {
    margin-left: 50%;
  }
  .ast-col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }
  .ast-col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }
  .ast-col-lg-offset-9 {
    margin-left: 75%;
  }
  .ast-col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }
  .ast-col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }
  .ast-col-lg-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .ast-col-xl-1, .ast-col-xl-2, .ast-col-xl-3, .ast-col-xl-4, .ast-col-xl-5, .ast-col-xl-6, .ast-col-xl-7, .ast-col-xl-8, .ast-col-xl-9, .ast-col-xl-10, .ast-col-xl-11, .ast-col-xl-12 {
    float: left;
  }
  .ast-col-xl-1 {
    width: 8.3333333333%;
  }
  .ast-col-xl-2 {
    width: 16.6666666667%;
  }
  .ast-col-xl-3 {
    width: 25%;
  }
  .ast-col-xl-4 {
    width: 33.3333333333%;
  }
  .ast-col-xl-5 {
    width: 41.6666666667%;
  }
  .ast-col-xl-6 {
    width: 50%;
  }
  .ast-col-xl-7 {
    width: 58.3333333333%;
  }
  .ast-col-xl-8 {
    width: 66.6666666667%;
  }
  .ast-col-xl-9 {
    width: 75%;
  }
  .ast-col-xl-10 {
    width: 83.3333333333%;
  }
  .ast-col-xl-11 {
    width: 91.6666666667%;
  }
  .ast-col-xl-12 {
    width: 100%;
  }
  .ast-col-xl-pull-0 {
    right: auto;
  }
  .ast-col-xl-pull-1 {
    right: 8.3333333333%;
  }
  .ast-col-xl-pull-2 {
    right: 16.6666666667%;
  }
  .ast-col-xl-pull-3 {
    right: 25%;
  }
  .ast-col-xl-pull-4 {
    right: 33.3333333333%;
  }
  .ast-col-xl-pull-5 {
    right: 41.6666666667%;
  }
  .ast-col-xl-pull-6 {
    right: 50%;
  }
  .ast-col-xl-pull-7 {
    right: 58.3333333333%;
  }
  .ast-col-xl-pull-8 {
    right: 66.6666666667%;
  }
  .ast-col-xl-pull-9 {
    right: 75%;
  }
  .ast-col-xl-pull-10 {
    right: 83.3333333333%;
  }
  .ast-col-xl-pull-11 {
    right: 91.6666666667%;
  }
  .ast-col-xl-pull-12 {
    right: 100%;
  }
  .ast-col-xl-push-0 {
    left: auto;
  }
  .ast-col-xl-push-1 {
    left: 8.3333333333%;
  }
  .ast-col-xl-push-2 {
    left: 16.6666666667%;
  }
  .ast-col-xl-push-3 {
    left: 25%;
  }
  .ast-col-xl-push-4 {
    left: 33.3333333333%;
  }
  .ast-col-xl-push-5 {
    left: 41.6666666667%;
  }
  .ast-col-xl-push-6 {
    left: 50%;
  }
  .ast-col-xl-push-7 {
    left: 58.3333333333%;
  }
  .ast-col-xl-push-8 {
    left: 66.6666666667%;
  }
  .ast-col-xl-push-9 {
    left: 75%;
  }
  .ast-col-xl-push-10 {
    left: 83.3333333333%;
  }
  .ast-col-xl-push-11 {
    left:
  }


  .single-blog-content{
    background-color: #FFEDDC !important;
    padding: 200px;
  }


  .single-blog-content h1{
    color: #fff !important;
  }
