.elementor-51 .elementor-element.elementor-element-8842e5a{text-align:left;}.elementor-51 .elementor-element.elementor-element-8842e5a .elementor-image img{width:20%;}.elementor-51 .elementor-element.elementor-element-a05467f{text-align:left;}